---
import Layout from "~/layouts/Layout.astro";
import Form from "~/modules/home/form";
---

<Layout>
  <div class="w-full flex justify-center py-8 px-4">
    <div class="max-w-[800px] flex-col gap-6 w-full flex">
      <header class="w-full">
        <h1 class="text-2xl italic font-medium">BlogHaven</h1>
      </header>
      <div class="w-full bg-white p-4 rounded-xl">
        <div class="border p-4 rounded-md">
          <Form client:load />
        </div>
      </div>
    </div>
  </div>
</Layout>
