---
import Layout from "~/layouts/Layout.astro";
import Form from "~/modules/home/form";
---

<Layout>
  <div class="w-full flex justify-center pt-20">
    <div class="max-w-[800px] w-full bg-white p-4 rounded-xl">
      <div class="border p-4 rounded-md">
        <Form client:load />
      </div>
    </div>
  </div>
</Layout>
