---
import "~/styles/global.css";
import Toast from "~/components/toast";
import TanstackQueryProvider from "~/providers/tanstack-query";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>BlogHaven</title>
  </head>
  <body class="min-h-dvh scroll-smooth">
    <TanstackQueryProvider client:load>
      <Toast />
      <slot />
    </TanstackQueryProvider>
  </body>
</html>
